@charset "utf-8";
/* slide-to-side */

/* script format

<div class="slide-to-side">
    <div class="slide-content" style="transform: translateX(0px);">
    <img class="selected" src="images/slide/1.jpg">
    <img src="images/slide/2.jpg">
    <img src="images/slide/3.jpg">
    </div>
</div>

*/

.slide-to-side{
	position:relative;
	overflow:hidden;
	width:770px;
	height:300px;
}

.slide-content{
	width:2310px;
	transition:transform 1.5s ease-in-out;
}

.slide-content img{
	width:770px;
	height:300px;
	padding:0;
  	margin:0;
  	float:left;
}