@charset "utf-8";
/* style */

/* default */
*{margin:0; padding:0;}
body{font-size:14px; font-family:"Myriad Pro"; color:#666;}
table{border-collapse:collapse; border-spacing:0; margin:0 auto;}
h1,h2,h3,h4,h5,h6{color:#069;}
a{text-decoration:none; color:#666;}
ul{list-style-type:none;}
input[type="text"],input[type="password"],input[type="email"],input[type="search"],input[type="number"],input[type="reset"],select,textarea{padding:5px 10px;}
textarea{min-width:200px; max-width:200px; min-height:80px;}
input[type="number"]{
	width:40px;
}
.line{border-bottom:1px solid #666;}
.line-dashed{border-bottom:1px dashed #666;}
.frame{padding:30px; display:table; margin:0 auto; box-shadow:0 0 15px rgba(0,0,0,0.3);}
/* ======= */

/* index */
.logo h1{
	-moz-text-shadow:2px 2px 2px rgba(0,0,0,0.2);
	-webkit-text-shadow:2px 2px 2px rgba(0,0,0,0.2);
	-o-text-shadow:2px 2px 2px rgba(0,0,0,0.2);
	text-shadow:2px 2px 2px rgba(0,0,0,0.2);
	margin-bottom:15px;
}
.form td{padding:10px 0;}
.error{font-size:12px; color:#C00; margin-left:8px;}
.status{padding-bottom:10px;}
.status a{font-weight:600; font-size:15px; margin-left:20px;}
.status img{margin-bottom:-4px;}
.menu{background-color:#F90; padding-left:50px;}
.menu a{display:block; float:left; min-width:80px; padding:10px 20px; text-align:center; color:#FFF; font-weight:600;}
.menu a:hover{box-shadow:inset 0 0 15px rgba(0,0,0,0.3);}
.cari{padding:10px; background-color:#069;}
.info-box{background-color:#EAEAEA; padding:20px;}
.info-box h4{display:block; color:#666; padding-bottom:10px;}
.side-menu{background-color:#EAEAEA;}
.side-menu-box{padding:20px;}
.side-menu-box h4{display:block; padding-bottom:10px; border-bottom:1px dashed #666;}
.side-menu-box li{margin-top:10px; font-size:13px;}
.side-menu-box .link{float:right; margin-right:3px; font-size:13px;}
.content{background-color:#FFF; padding-left:30px; padding-top:30px; padding-bottom:30px;}
.judul-halaman{padding-bottom:10px; border-bottom:1px dashed #666;}
.halaman{padding-top:35px; font-weight:600;}
.halaman span, .halaman a{margin:0 5px;}
.halaman span{color:#069; cursor:default;}
.halaman a:hover{color:#069;}
.footer{padding:15px 0; font-size:12px; background-color:#069; color:#FFF;}
/* ===== */

/* slide */
.slide{
	position:relative;
	overflow:hidden;
	width:780px;
	height:450px;
	-moz-border-radius:5px;
	-ms-border-radius:5px;
	-o-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	-moz-box-shadow:0 0 5px rgba(0,0,0,0.4);
	-ms-box-shadow:0 0 5px rgba(0,0,0,0.4);
	-o-box-shadow:0 0 5px rgba(0,0,0,0.4);
	-webkit-box-shadow:0 0 5px rgba(0,0,0,0.4);
	box-shadow:0 0 5px rgba(0,0,0,0.4);
}

.slide img{
	width:780px;
	height:450px;
	padding:0;
  	margin:0;
  	float:left;
	-moz-border-radius:5px;
	-ms-border-radius:5px;
	-o-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	position:absolute;
	opacity:0;
	transition:opacity 1.5s ease-in-out;
}

.slide img.selected{
	opacity:1;
}
/* ===== */

/* produk-display */
.baru h2{margin:20px 0 0; padding-bottom:10px; display:block; border-bottom:1px dashed #666;}
.produk-display{display:inline-table; margin:20px 0 0; margin-left:34px;}
.produk-display .judul{font-weight:600; color:#069; padding-top:10px;}
.produk-display .harga{font-weight:600; padding-top:10px;}
.produk-display .produk-button{padding-top:10px;}

.produk-beli{
	min-width:50px;
	display:inline-block;
	padding:5px 10px;
	background-color:#069;
	color:#FFF
}

.produk-detail{
	min-width:50px;
	display:inline-block;
	padding:5px 10px;
	background:#F90;
	color:#FFF;
}
/* ============== */

.btn-kiri{
	min-width:80px;
	text-align:center;
	display:inline-block;
	padding:10px;
	background-color:#069;
	color:#FFF;
	border:none;
	cursor:pointer;
}

.btn-kanan{
	min-width:80px;
	text-align:center;
	display:inline-block;
	padding:10px;
	background:#F90;
	color:#FFF;
	border:none;
	cursor:pointer;
}

/* panduan */
.panduan{margin-left:20px;}
.panduan li{margin-top:10px;}
/* ======= */

.table-tools a{margin:0 2px;}

/* table-list */
.table-list{font-size:13px;}
.table-list .head{color:#666;}
.table-list .head td{padding:5px 10px; border:1px solid #999;}
.table-list .data td{padding:5px 10px; border:1px solid #999;}
/* ========== */

/* table-warna */
.table-warna{font-size:13px;}
.table-warna .head{color:#FFF;}
.table-warna .head td{padding:10px; background-color:#069;}
.table-warna .data td{padding:10px; border-bottom:1px solid #999;}
/* =============== */

.detail ul{list-style-type:disc; margin-left:15px; margin-top:10px;}
.detail li{margin-bottom:3px; font-size:12px;}
.detail .gambar_detail{padding-right:35px;}
.btn-set{padding-top:20px;}